*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}


/*CONTROLE DA MÚSICA DE AMBIENTAÇÃO*/

.botaoAudio {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1000;
  background: none;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  background: rgba(255, 255, 255, 0.361);
}

.iconSom, .iconMudo {
  width: 100%;
  height: auto;
}

.botaoAudio:hover{
  box-shadow: 0 0 10px black;
}


/*PARTE INTRODUTÓRIA*/

.section-content{
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.section-intro{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro{
  background-image: url(img/wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
  background-position: center center;
}

.duna{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 5s ease;
}

.duna h1{
  color: black;
  font-family: duna;
  font-size: 200px;
  text-shadow: 0 0 0.2em white, 0 0 0.2em white;
  margin: 0;
}

.setaBaixo{
  opacity: 0;
  transition: 3s step-end;
}

.botao{
  margin-top: 20px;          
  padding: 10px 20px;
  cursor: pointer;
  font-size: 40px;
  border-radius: 50%;
  background:rgba(251, 188, 30, 0);
  border: 2px solid black;
  animation: bounce 2s infinite;
}

.botao:hover{
  box-shadow: 0 0 20px black;
  text-shadow: 0 0 20px black;
}


/*MENU*/

.section-menu{
  background-image: url(img/black-dunes-minimal-website-background-picjumbo-com.jpeg);
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu ul{
  margin-top: 30px;
  list-style: none;
  display: flex;
}

.menu ul li a{
  display: block;
  padding: 2rem;
  font-size: 24px;
  position: relative;
  text-decoration: none;
  font-family: duna;
  color: black;
}

.menu ul li a::after{
  content: '';
  position:absolute;
  bottom: 1rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: black;
  box-shadow: 0 0 10px black;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}

.section-menu div h1{
  font-family: duna;
  font-size: 90px;
}

.botaoMenu{
  margin-top: 20px;          
  padding: 10px 20px;
  cursor: pointer;
  font-size: 40px;
  border-radius: 50%;
  background:rgba(251, 188, 30, 0);
  border: 2px solid black;
  animation: bounce 2s infinite;
}

.botaoMenu:hover{
  box-shadow: 0 0 20px black;
  text-shadow: 0 0 20px black;
}


/*SECTION SOBRE O AUTOR*/

.autor{
  display: flex;
  align-items: center;
  justify-content:end;
  background-image: url(img/black-dunes-minimal-website-background-picjumbo-com.jpeg);
  background-size: cover;
  background-position: center center;
}

.fotoAutor{
  display: flex;
  align-items:center;
  justify-content:center;
}

.fotoAutor img{
  display: flex;
  position: relative;
  right: 400px;
  bottom: 20px;
  width: 150%;
  border-radius: 10px;
  transition: 500ms ease;
  opacity: 82.5%;
}

.fotoAutor img:hover{
  transform: scale(1.1);
}

.sobreAutor{
  display: flex;
  flex-direction: column;
  position: relative;
  right: 15%;
  align-items: center;
  text-align: center;
  padding:5rem 10rem
}

.sobreAutor h2{
  text-align: center;
  font-family: duna;
  font-size: 50px;
  color: black;
  margin-bottom: 10px;
  text-shadow: 0 0 0.2em black, 0 0 0.2em black;
}

.sobreAutorTexto{
  position: relative;
  width: 50%;
  color: black;
  font-family: "Play", sans-serif;
  text-align-last: left;
  hyphens: auto;
  text-align: justify;
  font-size: 17px;
  margin-top: 5%;
  letter-spacing: 2px;
}

.botaoAutor{
  display: flex;
  position: relative;
  right: 57%;
  top: 15rem;  
  padding: 10px 20px;
  cursor: pointer;
  font-size: 40px;
  border-radius: 50%;
  background:rgba(198, 218, 225, 0.41);
  border: 2px solid black;
  animation: bounce 2s infinite;
}

.botaoAutor:hover{
  box-shadow: 0 0 20px black;
  text-shadow: 0 0 20px black;
}


/*SECTION SOBRE O PLANETA ARRAKIS*/

.section-arrakis{
  background-image: url(img/dune-planeta-arrakis-kosmos.jpg);
}

.arrakis{
  display: flex;
  flex-direction: column;
  position: relative;
  right: 30%;
  align-items: center;
  text-align: center;
  padding:5rem 10rem
}

.arrakis h2{
  text-align: center;
  font-family: duna;
  font-size: 50px;
  color: white;
  text-shadow: 0 0 0.2em white, 0 0 0.2em white;
}

.arrakisTexto{
  position: relative;
  width: 30%;
  color: white;
  font-family: "Play", sans-serif;
  text-align-last: left;
  hyphens: auto;
  text-align: justify;
  font-size: 17px;
  margin-top: 5%;
  letter-spacing: 2px;
  text-shadow: 1px 1px 15px black;
}

.botaoArrakis{
  position: relative;
  top: 10%;         
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-size: 40px;
  border-radius: 50%;
  background:rgba(255, 255, 255, 0);
  border: 2px solid white;
  animation: bounce 2s infinite;
}

.botaoArrakis:hover{
  box-shadow: 0 0 20px white;
  text-shadow: 0 0 20px white;
}


/*SECTION SOBRE OS FREMEN*/

.section-fremen{
  background-image: url(img/dune-2-2024-movies-1920x1080-13967.jpg);
  background-size: cover;
  background-position: center center;
}

.fremen{
  display: flex;
  flex-direction: column;
  position: relative;
  right: 25%;
  align-items: center;
  text-align: center;
  padding:5rem 10rem
}

.fremen h2{
  text-align: center;
  font-family: duna;
  font-size: 50px;
  color: black;
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.545), 0 0 0.2em rgba(0, 0, 0, 0.545);
}

.fremenTexto{
  position: relative;
  width: 50%;
  color: white;
  font-family: "Play", sans-serif;
  text-align-last: left;
  hyphens: auto;
  text-align: justify;
  font-size: 17px;
  margin-top: 5%;
  letter-spacing: 2px;
  text-shadow: 1px 1px 15px black;
}

.botaoFremen{
  position: relative;
  top: 10%;   
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-size: 40px;
  border-radius: 50%;
  background:rgba(255, 255, 255, 0);
  border: 2px solid white;
  animation: bounce 2s infinite;
}

.botaoFremen:hover{
  box-shadow: 0 0 20px white;
  text-shadow: 0 0 20px white;
}


/*SECTION SOBRE LISAN-AL-GAIB*/

.section-lisan{
  background-image: url(img/thumb-1920-1357302.jpeg);
  background-size: cover;
  background-position: center center;
}

.lisan{
  display: flex;
  flex-direction: column;
  position: relative;
  right: 25%;
  align-items: center;
  text-align: center;
  padding:5rem 10rem
}

.lisan h2{
  text-align: center;
  font-family: duna;
  font-size: 50px;
  color: white;
  text-shadow: 0 0 0.2em white, 0 0 0.2em white;
}

.lisanTexto{
  position: relative;
  width: 50%;
  color: white;
  font-family: "Play", sans-serif;
  text-align-last: left;
  hyphens: auto;
  text-align: justify;
  font-size: 17px;
  margin-top: 5%;
  letter-spacing: 2px;
  text-shadow: 1px 1px 15px black;
}

.botaoLisan{
  position: relative;
  top: 10%;   
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-size: 40px;
  border-radius: 50%;
  background:rgba(255, 255, 255, 0);
  border: 2px solid white;
  animation: bounce 2s infinite;
}

.botaoLisan:hover{
  box-shadow: 0 0 20px white;
  text-shadow: 0 0 20px white;
}

/*SECTION DO TRAILER DO FILME DUNE*/

.section-filme{
  background-image: url(img/1166940.jpg);
  background-size: cover;
  background-position: center center;
  justify-content: center;
  align-items: center;
}

.divTrailer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.botaoTrailer{
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
  font-family: "Outfit", serif;
  font-weight: 300;
  border: 2px solid black;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.756);;
  text-shadow: 1px 1px 15px black;
  animation: bounce 3s infinite;
}

.botaoUp{
  position: fixed;
  bottom: 50px;
  right: 50px;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.botaoReturn{
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid black;
}

.botaoReturn:hover{
  border: 5px solid black;
}

.mostrarBotao{
  visibility: visible;
  opacity: 1;
}

/*ANIMAÇÕES E FONTE*/

@font-face {
  font-family:duna;
  src: url(fonts/Dune_Rise.otf);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


/*RESPONSIVIDADE*/

@media screen and (max-width: 1280px){

  .menu ul li a {
    font-size:20px;
   }

  .sobreAutor{
    position: relative;
    top: 100px;
    right: 100px;
   }
  
   .sobreAutorTexto{
    width: 80%;
    margin-bottom: 50%;
   }

  .fotoAutor{
    display: flex;
    position: relative;
    bottom: 45px;
    left: 250px;
    width: 100%;
   }

   .botaoAutor{
    display: flex;
    position: relative;
    right: 40rem;
    background:rgba(198, 218, 225, 0.804);
  }

  .arrakis{
    margin-top: 10rem;
    display: flex;
    position: relative;
    left: 10px;
  }

  .arrakisTexto{
    width: 80%;

  }

  .fremen{
    margin-top: 10rem;
    display: flex;
    position: relative;
    left: 10px;
  }

  .fremenTexto{
    width: 80%;
  }

  .lisan{
    margin-top: 15rem;
    display: flex;
    position: relative;
    left: 10px;
  }

  .lisanTexto{
    width: 80%;
  }

}


@media screen and (max-width: 1024px){

 .section-content{
    background-position: center center;
    background-size: cover;
    height: 100vh;
 }

 .duna h1{
  font-size: 120px;
 }

 .menu ul li a {
  font-size:1rem;
 }

 .sobreAutor{
  position: relative;
  top: 50px;
  left: 10px;
 }

 .sobreAutorTexto{
  width: 100%;
  margin-bottom: 50%;
 }

.botaoAutor{
  display: flex;
  position: relative;
  right: 20px;
  background:rgba(198, 218, 225, 0.661);
}
 .fotoAutor{
  display: flex;
  position: relative;
  top: 30px;
  left: 250px;
  width: 150%;
 }

 .arrakis{
  margin-left: 20%;
  display: flex;
 }

 .arrakisTexto{
  width: 100%;
  margin-bottom: 50px;
  text-shadow: 2px 2px 2px black;
 }

 .botaoArrakis{
    position: relative;
    top: 1%;  
 }

 .fremen h2{
    position: relative;
    left: 10%;
 }

 .fremenTexto{
    position: relative;
    left: 10%;
    width: 70%;
    margin-bottom: 10%;
  }

 .botaoFremen{
    position: relative;
    top: 1%; 
 }

 .lisan{
    margin-top: 20px;
 }

 .lisan h2{
    position: relative;
    left: 10%;
 }

 .lisanTexto{
    position: relative;
    left: 10%;
    width: 80%;
    margin-bottom: 10%;
 }

 .botaoLisan{
  position: relative;
  top: 15%;
  left: 20%;   
 }

 .botaoReturn {
  width: 50px;
  height: 50px;
  font-size: 24px;
}

}

@media screen and (max-width: 650px){

  .duna h1{
    font-size: 80px;
   }

  .menu ul{
    flex-direction: column;
    text-align: center;
  }

  .botaoMenu{
    color: white;
    margin-top: 20px;          
    padding: 10px 20px;
    cursor: pointer;
    font-size: 40px;
    border-radius: 50%;
    background:rgba(251, 188, 30, 0);
    border: 2px solid white;
    animation: bounce 2s infinite;
  }
  
  .botaoMenu:hover{
    box-shadow: 0 0 20px white;
    text-shadow: 0 0 20px white;
  }

  .autor{
    height: 150vh;
    display: flex;
    flex-direction: column;
  }

  .fotoAutor{
    width: 40%;
  }

  .fotoAutor img{
    display: flex;
    right: 15rem;
    bottom: 15rem;
  }

  .botaoAutor{
    display: flex;
    position: relative;
    left: 1rem;
    background:rgba(198, 218, 225, 0.804);
  }

  .section-arrakis{
    background-position: 30%;
  }

  .arrakis{
    width: 150%;
    display: flex;
    flex-direction: column;
    left: -12rem;
    bottom: 10rem;
  }


  .fremen{
    width: 150%;
    display: flex;
    flex-direction: column;
    left: -8rem;
    bottom: 10rem;
  }

  .fremenTexto{
    width: 100%;
  }

  .botaoFremen{
    display: flex;
    position: relative;
    left: 2rem;
  }

  .section-lisan{
    background-position: 70%;
  }

  .lisan{
    width: 150%;
    display: flex;
    flex-direction: column;
    left: -5rem;
  }

  .lisanTexto{
    width: 120%;
  }

  .botaoLisan{
    display: flex;
    position: relative;
    left: 1.5rem;
  }

}
